.hero-full-screen {
    height: 120vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("../project-2/background2.jpg") center center no-repeat;
    background-size: cover;
  } 
  
  .container h1 {
    text-align: center;
    color:  #f700ff;
    font-family: 'Rock Salt', cursive, bold;
    font-size: 300%;
    text-shadow:
 -1.0px -1.0px 0 rgb(34, 255, 5),
     1.0px -1.0px 0 rgb(34, 255, 5),
     -1.0px 1.0px 0 rgb(34, 255, 5),
     1.0px 1.0px 0 rgb(34, 255, 5);
  }
 
.container p {
    text-align: center;
    color: #f700ff;
    font-family: 'Rock Salt', cursive;
    font-size: 300%;
    text-shadow:
    -1.0px -1.0px 0 rgb(34, 255, 5),
        1.0px -1.0px 0 rgb(34, 255, 5),
        -1.0px 1.0px 0 rgb(34, 255, 5),
        1.0px 1.0px 0 rgb(34, 255, 5);
  }
  
  .container li {
    text-align: center;
    color:  #f700ff;
    font-family: 'Rock Salt', cursive;
    font-size: 300%;
    text-shadow:
    -1.0px -1.0px 0 rgb(34, 255, 5),
        1.0px -1.0px 0 rgb(34, 255, 5),
        -1.0px 1.0px 0 rgb(34, 255, 5),
        1.0px 1.0px 0 rgb(34, 255, 5);
  }
  
  .container a {
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 250%;
    font-family: 'Rock Salt', cursive;
    color: #f700ff;
    text-shadow:
    -1.0px -1.0px 0 rgb(34, 255, 5),
        1.0px -1.0px 0 rgb(34, 255, 5),
        -1.0px 1.0px 0 rgb(34, 255, 5),
        1.0px 1.0px 0 rgb(34, 255, 5);
  }
  
  .menu-hover-linesl {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
    font-family: 'Rock Salt', cursive, bold;
    background-color: black;
  }
  
  .menu-hover-linesl li a {
    padding: 0.75rem 0;
    color: rgb(255, 0, 191);
    position: relative;
    margin-left: 1rem;
  }
  
  .menu-hover-linesl li:first-child a {
    background-color: black;
    margin-left: 0;
  }
  
  .menu-hover-linesl a:before,
  .menu-hover-linesl a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #ff00ff;
    width: 0;
  }
  
  .menu-hover-linesl a::before {
    top: 0;
    left: 0;
    }
  
  .menu-hover-linesl a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-linesl a:hover,
  .menu-hover-linesl li.active > a {
    transition: all 0.35s ease;
    color: white;
    text-shadow:
    -1.0px -1.0px 0 rgb(255, 5, 243),
        1.0px -1.0px 0 rgb(255, 5, 243),
        -1.0px 1.0px 0 rgb(255, 5, 243),
        1.0px 1.0px 0 rgb(255, 5, 243);
  }
  
  .menu-hover-linesl a:hover::before,
  .menu-hover-linesl .active a::before,
  .menu-hover-linesl a:hover::after,
  .menu-hover-linesl .active a::after {
    width: 100%;
  }
  