<div class="hero-full-screen-d">
  <br>
  <br>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h1>Welcome {{username}}</h1>
          <hr>
          <p>Bio: {{bio}}</p>
          <hr>
          <p>I play these instruments: </p>
          <ul style="list-style: none;">
            <li>{{instruments}}</li>
          </ul>
          <hr>
          <p>I'm into these genres: </p>
          <ul style="list-style: none;">
            <li>{{genres}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>