<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Please Login or Register</h1>
        <a href="/login">Login</a>
        <a href="register">Register</a>
      </div>
    </div>
  </div>
</div>
