<form>
    <input type="text" id="userName">Name</input>
    <br>
    <input type="text" id="userAddress">Address</input>

    <br>
    <input type="text" id="cityId">City</input>
    <br>
    <input type="text" id="stateId">State</input>
    <br>
    <button id="formBtn" type="button">Submit</button>
</form>
<br>
<div id='map' class='map'> </div>