<div class="hero-full-screen-r">
    <br>
    <br>
    <div class="register-form">
        <h1>Register</h1>
        <form action="register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="firstName" placeholder="First Name" required>
            <input type="text" name="lastName" placeholder="Last Name" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="text" name="address" placeholder="Street Address">
            <input type="text" name="city" placeholder="City">
            <input type="text" name="state" placeholder="State">
            <label>
                <h4>What instrument do you play?</h4>
                <select name="instruments" required>
                    <option value="guitarist">Guitar</option>
                    <option value="vocalist">Vocals</option>
                    <option value="bassist">Bass</option>
                    <option value="drummer">Drums</option>
                </select>
            </label>
            <label>
                <h4>What kind of music do you want to play?</h4>
                <select name="genres" required>
                    <option value="rock">Rock</option>
                    <option value="jazz">Jazz</option>
                    <option value="metal">Metal</option>
                    <option value="country">Country</option>
                </select>
            </label>
            <input type="text" name="bio" placeholder="Bio">
            <input type="submit" id="register">
        </form>
    </div>
</div>