<div class="hero-full-screen-d">
    <div class="small-10 medium-10 large-10 columns text-center quickSearch">

        <div>
            <h3>I'm looking for a...</h3>
        </div>

        <div class="row">
            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack  table-scroll">
                <tr>
                    <th>Vocalist <input type="radio" class="instrumentCheck" name="instrument" value="vocalist"
                            id="vocalistCheck">
                    </th>
                </tr>
                <tr>
                    <td><label for="vocalistCheck"><img src="/images/vocal1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack table-scroll">
                <tr>
                    <th>Guitarist <input type="radio" class="instrumentCheck" name="instrument" value="guitarist"
                            id="guitaristCheck">
                    </th>
                </tr>
                <tr>
                    <td><label for="guitaristCheck"><img src="/images/guitar1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack table-scroll">
                <tr>
                    <th>Bassist <input type="radio" class="instrumentCheck" name="instrument" value="bassist"
                            id="bassistCheck">
                    </th>
                </tr>
                <tr>
                    <td><label for="bassistCheck"><img src="/images/bass1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack table-scroll">
                <tr>
                    <th>Drummer <input type="radio" class="instrumentCheck" name="instrument" value="drummer"
                            id="drummerCheck">
                    </th>
                </tr>
                <tr>
                    <td><label for="drummerCheck"><img src="/images/drum1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

        </div>

        <div>
            <h3>Who wants to play...</h3>
        </div>

        <div class="row">
            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack  table-scroll">
                <tr>
                    <th>Rock <input type="radio" name="genre" value="rock" id="rockCheck">
                    </th>
                </tr>
                <tr>
                    <td><label for="rockCheck"><img src="/images/vocal1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack table-scroll">
                <tr>
                    <th>Jazz <input type="radio" name="genre" value="jazz" id="jazzCheck">
                    </th>
                </tr>
                <tr>
                    <td><label for="jazzCheck"><img src="/images/guitar1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack table-scroll">
                <tr>
                    <th>Metal <input type="radio" name="genre" value="metal" id="metalCheck">
                    </th>
                </tr>
                <tr>
                    <td><label for="metalCheck"><img src="/images/bass1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

            <table class="small-3 medium-3 large-3 columns text-center quickProfile striped stack table-scroll">
                <tr>
                    <th>Country <input type="radio" name="genre" value="country" id="countryCheck" required>
                    </th>
                </tr>
                <tr>
                    <td><label for="countryCheck"><img src="/images/drum1.png" alt="ProfilePic"
                                style="width:100px;height:100px;"></label></td>
                </tr>
            </table>

        </div>

        <button class="button expanded easygenerate search" id="search">Search</button>
        <hr>
        <div class="small-10 medium-10 large-10 columns text-center quickSearchResults">
        </div>

    </div>
</div>