
.map {
  border: 3px solid black;
  position: absolute;
  width: 100%;
  height: 100%;

}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  /* background-color: rgba(0, 0, 0, 0); */
  /* background-image: url("../images/bassPin.png") */
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}



.mapboxgl-popup-content h3 {
  text-align: center;

  font-family: 'Rock Salt', cursive, bold;
  font-size: 150%;
  text-shadow:
-1.0px -1.0px 0 rgb(34, 255, 5),
   1.0px -1.0px 0 rgb(34, 255, 5),
   -1.0px 1.0px 0 rgb(34, 255, 5),
   1.0px 1.0px 0 rgb(34, 255, 5);


  background: #f700ff;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  text-align: center;
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
